<?xml version="1.0" ?>
<robot name="mini_model" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<!-- Sensor Materials -->
<material name="camera_gray">
  <color rgba="0.5 0.5 0.5 1.0"/>
</material>

<material name="lidar_black">
  <color rgba="0.1 0.1 0.1 1.0"/>
</material>

<material name="imu_blue">
  <color rgba="0.0 0.3 0.8 1.0"/>
</material>

<material name="gps_green">
  <color rgba="0.0 0.8 0.3 1.0"/>
</material>

</robot>
